# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env

# VS Code
.vscode/

# Logs
logs/
*.log

# OS Files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Python build
build/
dist/
*.egg-info/